@tailwind base;
@tailwind components;
@tailwind utilities;

.meat{
background-color: brown;
}
.onions{
background-color:#6AA121;
}
.cheese{
background-color: #ffe8be;
}
.tomato{
background-color: #FF6347;
}
.lettuce{
background-color: green;
}
.seed{
    background-image: radial-gradient(#000 10%, transparent 11%),
        radial-gradient(#581918 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
}